
<main class="contenedor panel-administracion">
    <h1><%= nombrePagina  %></h1>
    <div class="contenedor-botones">
        <a href="/nuevo-grupo" class="btn btn-amarillo">Nuevo Grupo</a>
        <a href="/nuevo-meeti" class="btn btn-azul">Nuevo Meeti</a>
        <a href="/editar-perfil" class="btn btn-rosa">Editar Perfil</a>
        <a href="/iamgen-perfil" class="btn btn-amarillo">Imagen Perfil</a>
    </div>
    <div class="seccion-admin">
        <h2>Tus Eventos</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Lunes, 22 de mayo 2019</p>
                    <h3>E-Commerce en México</h3>
                    <small>23 asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn-verde btn">Editar</a>
                    <a href="#" class="btn-azul2 btn">Asistentes</a>
                    <a href="#" class="btn-rojo btn">Eliminar</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Miercoles, 20 de febrero 2019</p>
                    <h3>Bitcoin y otras Criptomonedas</h3>
                    <small>45 asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn-verde btn">Editar</a>
                    <a href="#" class="btn-azul2 btn">Asistentes</a>
                    <a href="#" class="btn-rojo btn">Eliminar</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Jueves, 16 de mayo 2019</p>
                    <h3>Nodejs ARG</h3>
                    <small>234 asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn-verde btn">Editar</a>
                    <a href="#" class="btn-azul2 btn">Asistentes</a>
                    <a href="#" class="btn-rojo btn">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="seccion-admin">
        <h2>Tus Grupos</h2>
        <% if(grupos.length){ %>
            <ul>
                <% grupos.forEach(grupo => { %>
                    <li>
                        <div class="informacion-admin">
                            <h3><%= grupo.nombre %></h3>
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="/editar-grupo/<%= grupo.id %>" class="btn-verde btn">Editar</a>
                            <a href="imagen-grupo/<%= grupo.id %>" class="btn-azul2 btn">Imagen</a>
                            <a href="/eliminar-grupo/<%= grupo.id  %>" class="btn-rojo btn">Eliminar</a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% }else{ %>
            <P>No tienes un grupo creado</P>
        <% } %>
    </div>
</main>