
<main class="contenedor panel-administracion">
    <h1><%= nombrePagina  %></h1>
    <div class="contenedor-botones">
        <a href="/nuevo-grupo" class="btn btn-amarillo">Nuevo Grupo</a>
        <a href="/nuevo-meeti" class="btn btn-azul">Nuevo Meeti</a>
        <a href="/editar-perfil" class="btn btn-rosa">Editar Perfil</a>
        <a href="/cambiar-password" class="btn btn-verde">Cambiar Password</a>
        <a href="/imagen-perfil" class="btn btn-amarillo">Imagen Perfil</a>
    </div>
    <div class="seccion-admin">
        <h2>Próximos Eventos</h2>
        <% if(meetis.length > 0) { %>
        <ul>
            <% meetis.forEach(meeti => { %>
                <li>
                    <div class="informacion-admin">
                        <% moment.locale('es') %>
                        <p class="fecha"><%= moment( meeti.fecha).format('LL')  %></p>
                        <h3><%= meeti.titulo %></h3>
                        <small><%= meeti.interesados.length %> Interesados</small>
                    </div>
                    <div class="acciones contenedor-botones">
                        <a href="/editar-meeti/<%= meeti.id %>" class="btn-verde btn">Editar</a>
                        <a href="/asistentes-meeti/<%= meeti.id %>" class="btn-azul2 btn">Asistentes</a>
                        <a href="/eliminar-meeti/<%= meeti.id %>" class="btn-rojo btn">Eliminar</a>
                    </div>
                </li>
            <% }) %>
        </ul>
        <% }else{ %>
            <p>Aún no tioenes meetis creados</p>
        <% } %>

    </div>
    <div class="seccion-admin">
        <h2>Tus Grupos</h2>
        <% if(grupos.length){ %>
            <ul>
                <% grupos.forEach(grupo => { %>
                    <li>
                        <div class="informacion-admin">
                            <h3><%= grupo.nombre %></h3>
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="/editar-grupo/<%= grupo.id %>" class="btn-verde btn">Editar</a>
                            <a href="imagen-grupo/<%= grupo.id %>" class="btn-azul2 btn">Imagen</a>
                            <a href="/eliminar-grupo/<%= grupo.id  %>" class="btn-rojo btn">Eliminar</a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% }else{ %>
            <P>No tienes un grupo creado</P>
        <% } %>
    </div>

    <div class="seccion-admin">
        <h2>Eventos Anteriores</h2>
        <% if(anteriores.length > 0) { %>
        <ul>
            <% anteriores.forEach(meeti => { %>
                <li>
                    <div class="informacion-admin">
                        <% moment.locale('es') %>
                        <p class="fecha"><%= moment( meeti.fecha ).format('LL')  %></p>
                        <h3><%= meeti.titulo %></h3>
                        <small><%= meeti.interesados.length %> Interesados</small>
                    </div>
                    <div class="acciones contenedor-botones">
                        <a href="/editar-meeti/<%= meeti.id %>" class="btn-verde btn">Editar</a>
                        <a href="/asistentes-meeti/<%= meeti.id %>" class="btn-azul2 btn">Asistentes</a>
                        <a href="/eliminar-meeti/<%= meeti.id %>" class="btn-rojo btn">Eliminar</a>
                    </div>
                </li>
            <% }) %>
        </ul>
        <% }else{ %>
            <p>No hay meetis anteriores</p>
        <% } %>

    </div>
</main>